@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ee9e02;
  --secondary: #212121;
  --green-dark: #3d402c;
  --green-light: #e0ebd3;
  --grey-dark: #616161;
  --grey-mid: #9e9e9e;
  --grey-light: #d2d2d2;
  --grey-border: #6e6a64;
}

.custom-container {
  @apply mx-auto  max-w-[1440px];
}

/********************** Home page Imagine slider **********************/

.imagine-slider .swiper-slide {
  @apply border-t-[1px] border-grey-border;
}

.imagine-slider-nav-button {
  @apply mx-auto text-center size-[52px] border-[1.3px] border-black/65 rounded-full flex justify-center items-center shadow-lg transition-colors duration-300 ease-in-out;
}

.imagine-slider .swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
